@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.hire-btn {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}

.hire-btn:hover {
    background-color: #198754;
    color: #000;
    border: 1px solid #000;
}
.bg-color {
    background-color: #dbdfe3;
}
